* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html, body {
    overflow: hidden; /* Prevents scrolling */
    width: 100%;
    height: 100%;
}



.Default {
    --dark-color: rgb(50,0,100);
    --light-color: rgb(122,102,162);

    --dark-color-raw: 50,0,100;
    --light-color-raw: 122, 102, 162;
}
.Completed {
    --dark-color: rgb(49,180,96);
    --light-color: rgb(132,221,145);

    --dark-color-raw: 49,180,96;
    --light-color-raw: 132,221,145;
}
.Uncompleted {
    --dark-color: rgb(171,28,33);
    --light-color: rgb(204,119,136);

    --dark-color-raw: 171,28,33;
    --light-color-raw: 204,119,136;
}



.test-point {
    width: 10px;
    height: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;

    transform: translate(-50%,-50%);
    background-color: black;
}


/************************* Canvas Elements *************************/
.canvas-default {
    background-color: rgba(212, 255, 255, 0.567);
}
.canvas-alt {
    background-color: rgba(194, 249, 249, 0.567);
}


.info-holder {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);

    display: inline-block;
    border-radius: 5px;

    background-color: #E4E4E4;
    border: solid;
    border-color: #555;

    z-index: 10;
}
    .canvas-title {
        position: relative;
        top: 0;
        left: 0;

        color: #555;

        margin: 10px;
    }
    .info-holder:has(h1:empty) {
        display: none;
    }
    .info-holder:has(h1:not(:empty)) {
        display: block;
    }


.canvas-container {
    position: relative; /* Ensures children are positioned relative to this */
    display: inline-block; /* Makes the container fit the canvas size */

    border: none;
    clip-path: inset(0px 0px 4px 0px); /*necessary for the clip box to be correctly aligned*/
    overflow: hidden; /* Ensures content outside gets clipped */    
}

.icon {
    width: 100%;
    height: 100%;

    mask-repeat: no-repeat;
    mask-size: 80%;
    mask-position: center;
}


.button-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,0);
} 
/*****************************************************************************/





/************************* Side Menu Elements *************************/
.menu-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* Centers bars horizontally */
    justify-content: center; /* Centers the bars vertically */
    gap: 5px; /* Adjusts the spacing between bars */

    background-color: #E4E4E4;

    border: solid;
    border-color: #555;

    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    border-radius: 5px; /* Rounds the corners */

    margin-right: 20px;
    margin-top: 20px;

    outline: none;     /* Removes focus outline */

    cursor: pointer;

    z-index: 2;
}
    .menu-button div {
        width: 75%;
        height: 5px;
        background-color: #777;
        border-radius: 3px;
    }
    .menu-button:hover{
        outline: solid;
        outline-color: black;
        outline-width: 2px;
    }

.menu-dropdown {
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 35px;
    margin-right: 20px;

    background-color: rgba(200, 200, 200, 1);
    width:50px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;

    padding-top: 5px;

    z-index: 1;
}
    @keyframes appear {
        from {
            opacity: 0;
            transform: translateY(0px);
        }
        to {
            opacity: 1;
            transform: translateY(45px);
        }
    }
    @keyframes disappear {
        from {
            opacity: 1;
            transform: translateY(45px);
        }
        to {
            opacity: 0;
            transform: translateY(0px);
        }
    }
    .menu-dropdown.animate {
        animation: appear 0.5s ease forwards;
    }
    .menu-dropdown.reverse {
        animation: disappear 0.5s ease forwards;
    }

    .menu-dropdown .add-node {
        position: relative;
        width: 40px;
        aspect-ratio: 1;

        cursor: pointer;

        outline: none;
        border: none;

        border-radius: 5px; /* Rounds the corners */

        display: flex;
        justify-content: center;
        align-items: center;
    }
        .add-node .bar {
            width: 20%; /* Adjust width for a vertical bar */
            height: 80%; /* Full height of the button */
            background-color: #777;
            border-radius: 3px;
            position: absolute;

        }

    .menu-dropdown .base {
        position: relative;
        width: 40px;
        aspect-ratio: 1;

        cursor: pointer;

        outline: none;
        border: none;

        border-radius: 5px; /* Rounds the corners */
    }
        .base .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
        
            background-color: #777;
            mask-repeat: no-repeat;
            mask-size: 95%;
            mask-position: 60%;
        }


    .menu-dropdown > *:hover {
        outline: solid;
        outline-color: black;
        outline-width: 2px;
    }


.input-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    padding: 8px;
    font-size: 16px;

    border: 1px solid black;
    border-radius: 5px;
    outline: none;

    z-index: 5;
}
/*****************************************************************************/



/************************* Toggle button Elements *************************/
.rounded-square-btn {
    width: 30px;          
    height: 15px;         
    border-radius: 15px;   /* Rounded corners */
    border: none;
    cursor: pointer;
    background: white;
    outline-width: 5px;
    outline-style: solid;
    outline-color: var(--dark-color);
    display: flex;
    align-items: center;
    padding: 2px;
    position: relative;
}
.small-circle {
    width: 12px;
    height: 12px;
    y: 2px;
    border-radius: 50%;
    position: absolute;
    left: 3px; /* Start position */
    transition: left 0.3s ease;

    background-color: var(--dark-color);
}
.rounded-square-btn.active .small-circle {
    left: 15px; /* Move to the right */
}
/*****************************************************************************/



/**************************** Options Box Elements ****************************/
.box {
    position: absolute;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    height: auto;
    min-height: fit-content;

    background-color: var(--light-color);
    border: solid;
    border-width: 5px;
    border-color: var(--dark-color);

    z-index: 8;
}

.link-button {
    cursor: pointer;
    white-space: nowrap;

    border-radius: 5px;

    background-color: var(--dark-color);
    color: white;
    font-weight: bold;

    padding: 5px;
}

.link-button:hover {
    outline: solid;
    outline-width: 2px;
    outline-color: black;
}
.button-text-wrapper {
    display: flex;
    /* align-items: center; Vertically align text and button */
    gap: 15px; /* Space between text and button */
}
.state-text {
    width: 70%;
    height: 15px;
    border-radius: 2px;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    outline: solid;
    outline-width: 5px;
    outline-color: var(--dark-color);

    padding: 5px;

    color: var(--dark-color);
    font-weight: bolder;

    box-sizing: border-box;
}

.sub-box {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 0px;
    
    transform: translateY(-90%);
    
    height: auto;
    min-height: fit-content;
    

    border-radius: 8px;    
}
    .sub-box .button {
        width: 30px;
        aspect-ratio: 1;

        border-radius: 8px;

        background-color: var(--light-color);
        border: solid;
        border-width: 5px;
        border-color: var(--dark-color);

    }
        .sub-box .button .icon {
            width: 100%;
            height: 100%;
        
            background-color: var(--dark-color);
            mask-repeat: no-repeat;
            mask-size: 80%;
            mask-position: center;
        }

/*********************************************************************/





/**************************** Nodes ****************************/
.node {
    --diameter: 21px;

    width: var(--diameter);
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;

    background-color: rgba(var(--light-color-raw), var(--alpha, 1));

    outline: solid;
    outline-width: 3px;
    outline-color: rgba(var(--dark-color-raw), var(--alpha, 1));

    transform: translate(0,0);
    transition: width 0.3s ease-in-out; /* In order to make size increases smooth, while keeping everything else responsive */

    z-index: 1;
}
.node .text {
    pointer-events: none;

    --size: 14px;
    --margin: 2px;
    width: fit-content;
    
    color: #444;  /* Text color */
    font-weight: bold;
    font-size: var(--size); /* Adjust as needed */
    text-align: center;
    
    position: absolute;
    top: calc(var(--diameter) / 2 + var(--size) + var(--margin)); /* Places text right below the node */
    left: 50%;
    transform: translateX(-50%);

    border-radius: 3px;
    background: #E4E4E4;
    opacity: calc(var(--alpha) - 0.2);
    outline: solid 2px black;
    border: none;

    padding: 1px 4px;

    z-index: inherit;
}

.undoable {
    outline-style: solid;
}   
.doable {
    outline-style: dashed;
}

.complete-mask {
    background-color: rgb(132,221,145);
    outline-color: rgb(49,180,96);
    outline-style: solid;
}
/*********************************************************************/





/**************************** Connections Elements ****************************/
.arrow {
    position: absolute;
    --alpha: 0.9;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.arrow .line {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 3px; /* Line thickness */
    transform-origin: left; 
    background-color: rgba(var(--dark-color-raw), var(--alpha));

    z-index: inherit;
} 
.arrow .tip {
    position: absolute;
    top: 0px;
    left: 0px;
    
    width: 9px;
    height: 9px;
    
    background-color: rgba(var(--dark-color-raw), var(--alpha));
    z-index: inherit;
}

.line-mask {
    background-color: rgba(49,180,96, var(--alpha)) !important; 
}
.tip-mask {
    background-color: rgba(49,180,96, var(--alpha)) !important;
}
/*********************************************************************/




/**************************** Login Button ****************************/
#login-container {
    position: absolute;
    top: 0;
    left: 0;
    --img-size: 60px;
    --margin: 15px;
    z-index: 10;
}
    #login-container button {
        position: absolute;
        top: calc(var(--img-size) + 1.5*var(--margin));
        left: calc(50% + var(--margin));

        transform: translate(-50%, 0);

        width: 60px;
        height: 25px;
        border-radius: 5px;

        border: none;
        background-color: #E4E4E4;
        color: #555;
        font-weight: bold;

        border: solid;
        border-color: #555;
        border-width: 3px;

        cursor: pointer;
    }
    #login-container button:hover {
        box-shadow: 0 0 0 1px #555;
    }
    #login-container #log-image {
        position: relative;
        top: var(--margin);
        left: var(--margin);

        width: var(--img-size);
        aspect-ratio: 1;
        
        border-radius: 50%;
        overflow: hidden;
        padding: 0;

        border: solid;
        border-color: #555;
    }
        #log-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;  /* Centers the image */
        }
/*********************************************************************/



/**************************** Instructions / help ****************************/
.help {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    height: 600px;
    border-radius: 5px;

    background-color: #E4E4E4;

    border: solid;
    border-color: #777;
    border-width: 5px;

    box-sizing: border-box;
    word-wrap: break-word; /* Ensures long words wrap */
    overflow-wrap: break-word; /* Alternative for better compatibility */
    white-space: normal; /* Allows text to wrap */

    z-index: 5;
}
    .help button {
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translate(-50%,-50%);

        width: 30px;
        height: 30px;
        border-radius: 5px;

        background-color: #E4E4E4;
    }
    .help p {
        position: relative;
        top: 10%;
        margin: 10px;

        text-align: justify;
    }
    .help .title {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 10%;

        display: flex;
        align-items: center;
        padding-left: 20px;

        background-color: #aaa;

        font-weight: bold;
        font-size: 32px;
    }
        .help .x {
            position: absolute;
            top: 50%;
            left: 50%;

            width: 85%;
            height: 5px;
            border-radius: 5px;

            transform-origin: center;
            margin: 0 auto; /* Center horizontally */


            background-color: #777;
        }

/*********************************************************************/



/************************** Save files *******************************/

.save-files-menu {
    position: absolute;
    top: 20%;
    left: 30%;

    width: 40%;
    max-height: 50%;
    
    background-color: #555;

    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px;

    overflow-y: auto;

    border: solid #555 10px;
    background-clip: border-box;
    border-radius: 15px;

    /* Hide scrollbar visually but keep scroll functionality */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */

    z-index: 8;
}
    .save-files-menu::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }

.save-file {
    opacity: 0.6;

    width: 100%;
    height: 10vh;

    flex-shrink: 0; /* prevents shrinking when more save files are added */

    background-color: #E4E4E4;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    gap: 10px;

    padding: 5px;

    border: none;  /*To prevent the outline from being a button*/
}
    .save-file:hover{
        opacity: 1;
    }
    .save-file.no-hover:hover {
        opacity: 0.6; /* cancels the hover effect */
    }

.save-number{
    width: 20%;
    aspect-ratio: 1;

    background-color: #aaa;

    border-radius: 5px;

    display: flex;
    justify-content: center;  /* horizontal center */
    align-items: center;      /* vertical center */

    font-size: 8vh;           /* This value will change because of fitTexttoDiv() in extra.js */
    font-weight: bold;
    color: #555;
}

.file-name {
    width: 100%;
    aspect-ratio: 1;

    background-color: #aaa;

    border-radius: 5px;

    display: flex;
    justify-content: center;  /* horizontal center */
    align-items: center;      /* vertical center */

    font-size: clamp(12px, 4vh, 40px); /* min, preferred, max */
    color: #555;
    text-align: center;
}

.edit-save-file {
    width: 5%;
    aspect-ratio: 1;

    background-color: #aaa;

    border-radius: 5px;

    display: flex;
    justify-content: center;  /* horizontal center */
    align-items: center;      /* vertical center */


    mask-repeat: no-repeat;
    mask-size: 80%;
    mask-position: center;

    margin-right: 5px;
}
    .edit-save-file:hover{
        background-color: black;
    }
/*********************************************************************/



/************************* Confirmations *******************************/
.confirmation-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 35%;
    height: 25%;
    
    background-color: #E4E4E4;

    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px;

    overflow-y: auto;

    border: solid #777 10px;
    border-radius: 15px;

    z-index: 8;
}
.confirmation-text {
    width: 100%;
    height: 40%;

    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;

    gap: 20%;

    font-size: clamp(12px, 4vh, 4vh); /* min, preferred, max */
    color: #555;
    text-align: center;

    white-space: pre-line; /* Makes \n work properly */
}

.option {
    height: 100%;
    aspect-ratio: 1;

    border-radius: 5px;

    background-color: #aaa;

    display: flex;
    align-items: center; 
    justify-content: center;
}
    .option:hover{
        outline: solid #555 5px;
        cursor: pointer;
    }



/*********************************************************************/